<!DOCTYPE html>
<html>
    <head>
        <title>SPIRIT PEDIA</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
  <body>
    <header>
        <h1>SPIRIT PEDIA</h1>
        <img src="images/logo.png" alt="">
    </header>
    <nav>
        <ul>
            <li><a href="news">Новости</a></li>
            <li><a href="guids">Гайды</a></li>
            <li><a href="matches">Матчи</a></li>
            <li><a href="tournaments">Турниры</a></li>
        </ul>
    </nav>
    <div class="container">
        <article>
            <h2>Заголовок новости</h2>
            <p>Текст новости...</p>
        </article>

        <article>
            <h2>Еще одна новость</h2>
            <p>Текст новости...</p>
        </article>
    </div>
    <footer>
        <p>&copy; 2024 SPIRIT PEDIA - Игровые новости</p>
    </footer>
  </body>
</html>
